.navbar,
.nav-active {
  background: transparent;


  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    display: flex;
    align-items: center;
    height: 80px;
    margin: auto;

    .hamburger {
      display: none;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 3px;
      color: white;
      cursor: pointer;

      .icon {
        fill: white;
        font-size: 2em;
      }

      p {
        font-size: 1.3em;
      }
    }

    .links {
      .container {
        display: flex;
        align-items: center;
        gap: 3em;
        color: white;
        font-size: 14px;

        p {
          cursor: pointer;
        }

        a {
          color: white;
        }
      }
    }
  }
}

.nav-active {
  background-color:#a702ee;
  position: fixed;
  width: 100%;
  top: 0;
  animation: slideInNav 0.5s linear;
}

@keyframes slideInNav {
  0% {
    transform: translateY(-8em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .navbar,
  .nav-active {
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      display: flex;
      align-items: center;
      height: 60px;
      margin: auto;

      .hamburger {
        display: block;
        fill: white;
        font-size: 1.6em;
      }

      .links {
        display: none;
      }

      .links-active {
        display: block;
        position: absolute;
        width: 100vw;
        height: 50vh;
        background-color: #a702ee;
        left: 0;
        top: 0;
        color: black;
        animation: slideIn 0.4s linear;

        .container {
          margin-top: 5em;
          padding: 2em;
          display: flex;
          flex-direction: column;
          gap: 2em;
          font-size: 17px;
          color: white;
          font-weight: bold;
          letter-spacing: 1px;

          .hamburger {
            position: absolute;
            right: 10%;
            top: 5%;
          }

          a {
            color: white;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-10em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
